###########
#  files  #
###########

*.md
**/*.md

.git*
**/.git*

*.yml

Makefile 
cov.out

###############
# directories #
###############

.bin/
.vscode/
.idea/
dist/

scripts/
tests/
mocks/
deploy/
